
<div class="container-fluid" ng-cloak>

    <header class="row site-header">
        <nav class="col-md-10 col-md-offset-1">
            <div class="row">
                <h1>Media 24 test</h1>
            </div>
        </nav>
    </header>
    
    <div class="row site-body">
        <div class="col-md-10 col-md-offset-1" ng-view>
        </div>
    </div>

    <div class="row site-footer">
        <div class="col-md-10 col-md-offset-1">
            <footer>
                <div class="text-right">
                    Footer! :)
                </div>
            </footer>
        </div>
    </div>
</div>
